SOAPUIARTEFACTS/doctors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="doctors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="doctor" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="hospital" type="xs:string"/>
							<xs:element name="category" type="xs:string"/>
							<xs:element name="availability" type="xs:string"/>
							<xs:element name="fee" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
